html {
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

body {
  font-style: normal;
  background-color: black;
  color: rgb(255, 255, 255);
}

#nav-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 2px 2px 2px solid black;
  border-radius: 0px 0px 2px 2px;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: red;
}

li {
  list-style-type: none;
  margin-inline: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.ul-main {
  display: flex;
  justify-content: flex-start;

}

.menu-main-li {
  display: flex;
  justify-content: flex-start;
}


.menu-main-li img {
  width: 100px;
}


/* The Modal (background) */
.modal,
.modal2,
.modal3,
.modal4 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color: black;
}

/* Modal Content/Box */
.modal-content,
.modal-content2,
.modal-content3,
.modal-content4 {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  /* Could be more or less, depending on screen size */
  border-radius: 6px;
}

/* The Close Button */
.close,
.close2,
.close3,
.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close2:focus,
.close2:hover,
.close3:focus,
.close3:hover,
.close4:focus,
.close4:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn,
#myBtn2,
#myBtn3,
#myBtn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27vw;
  height: 30vh;
  border-radius: 10px;
  background-color: red;
  transition: 1s;
}



#myBtn img,
#myBtn2 img,
#myBtn3 img,
#myBtn4 img {
  width: 95%;
  height: 95%;
  border-radius: 5px;
}

#myBtn:hover,
#myBtn2:hover,
#myBtn3:hover,
#myBtn4:hover {
  transform: scale(1.2);
  transition: 1s;
  margin-bottom: 25px;
}


#section-main {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template:   4fr   4fr/  4fr   4fr;
  justify-self: center;
  grid-gap: 50px;
  margin-top: 150px;
}


.grid-item {
  transition: 1s;
}

.grid-item:hover {
  cursor: pointer;
}

#background {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 60px;
}

#background::before {
  content: "";
  position: absolute;
  background: url("./img/senai.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: opacity(0.4);
  inset: 0;
  z-index: -1;
}

.title {
  font-size: 70px;
  text-shadow: 1px 1px 2px #222;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#box-main {
  background-color: rgb(209, 209, 209);
  height: 100vh;
  color: black;
}


.title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-left: 200px;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

#footer-contact {
  display: grid;
  height: 50vh;
  margin-top: 100px;
  background-color: red;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* GITHUB ICONS */

.corpo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25vh;
}

.perfil:hover {
  background-color: grey;
  border-bottom: 5px solid #fff;
  color: #fff;
  transform: translateY(-7.5px);
  transition: background-color 0.5s ease, transform 1s ease, border-bottom 0.5s ease 0.2s;
}

.perfil {
  background-color: #ffff;
  padding: 0.2em 0.5em;
  color: #222;
  height: 15em;
  width: 10em;
  border-radius: 5px;
  margin: 1.5em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perfil .pfp {
  width: 50%;
  border-radius: 100%;
}

.texto {
  margin: 1em 0em 0em 0em;
  text-align: center;
  font-size: 0.9em;
}

.texto h1 {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Retro Gaming';
}

.logolink {
  margin: 0.6em 0em 0em 0em;
  width: 25%;
}

.logolink img {
  border-radius: 100%;
  background-color: #ffff;
}

.logolink .github-logo {
  width: 100%;
}

#integrantes {
  height: 100vh;
}


#alinhamento {
  display: flex;
}

#centralizado {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-desc {
  display: flex;
  justify-content: space-around;
}

#text-box {
  max-width: 50%;
}

#footer-contact-inside{
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid: 1fr;
  background-color: crimson;
  width: 99.2vw;
  height: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#redes-sociais-senai{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 75%;
}